<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vteba.table.dao.ShardsTableDao" >
  <resultMap id="BaseResultMap" type="com.vteba.table.model.ShardsTable" >
    <!--
      WARNING - 结果集映射，不含Blob字段。
      MyBatis代码工具自动生成，不要修改！
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="schema_name" property="schemaName" jdbcType="VARCHAR" />
    <result column="schema_id" property="schemaId" jdbcType="BIGINT" />
    <result column="table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="current_table" property="currentTable" jdbcType="VARCHAR" />
    <result column="strategy" property="strategy" jdbcType="VARCHAR" />
    <result column="from_index" property="fromIndex" jdbcType="BIGINT" />
    <result column="end_index" property="endIndex" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="create_sql" property="createSql" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - 该表所有字段。
      MyBatis代码工具自动生成，不要修改！
    -->
    id, schema_name, schema_id, table_name, current_table, strategy, from_index, end_index, 
    create_date, update_date, create_sql
  </sql>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - Criteria条件查询的where语句。
      MyBatis代码工具自动生成，不要修改！
    -->
    <where >
      <foreach collection="params.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
    <if test="orderBy != null" >
      order by ${orderBy}
    </if>
    <if test="start != null" >
      limit ${start}, ${pageSize}
    </if>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - Criteria条件查询的where语句。
      MyBatis代码工具自动生成，不要修改！
    -->
    <where >
      <foreach collection="params.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="model_where_clause" >
    <!--
      WARNING - 根据model条件，查询或更新的where语句。
      MyBatis代码工具自动生成，不要修改！
    -->
    <where >
      <trim prefixOverrides="and" >
        <if test="params.schemaName != null" >
          and schema_name = #{params.schemaName,jdbcType=VARCHAR}
        </if>
        <if test="params.schemaId != null" >
          and schema_id = #{params.schemaId,jdbcType=BIGINT}
        </if>
        <if test="params.tableName != null" >
          and table_name = #{params.tableName,jdbcType=VARCHAR}
        </if>
        <if test="params.currentTable != null" >
          and current_table = #{params.currentTable,jdbcType=VARCHAR}
        </if>
        <if test="params.strategy != null" >
          and strategy = #{params.strategy,jdbcType=VARCHAR}
        </if>
        <if test="params.fromIndex != null" >
          and from_index = #{params.fromIndex,jdbcType=BIGINT}
        </if>
        <if test="params.endIndex != null" >
          and end_index = #{params.endIndex,jdbcType=BIGINT}
        </if>
        <if test="params.createDate != null" >
          and create_date = #{params.createDate,jdbcType=TIMESTAMP}
        </if>
        <if test="params.updateDate != null" >
          and update_date = #{params.updateDate,jdbcType=TIMESTAMP}
        </if>
        <if test="params.createSql != null" >
          and create_sql = #{params.createSql,jdbcType=VARCHAR}
        </if>
      </trim>
    </where>
    <if test="orderBy != null" >
      order by ${orderBy}
    </if>
    <if test="start != null" >
      limit ${start}, ${pageSize}
    </if>
  </sql>
  <sql id="update_model_where_clause" >
    <!--
      WARNING - 根据model条件，更新的where语句。
      MyBatis代码工具自动生成，不要修改！
    -->
    <where >
      <trim prefixOverrides="and" >
        <if test="params.schemaName != null" >
          and schema_name = #{params.schemaName,jdbcType=VARCHAR}
        </if>
        <if test="params.schemaId != null" >
          and schema_id = #{params.schemaId,jdbcType=BIGINT}
        </if>
        <if test="params.tableName != null" >
          and table_name = #{params.tableName,jdbcType=VARCHAR}
        </if>
        <if test="params.currentTable != null" >
          and current_table = #{params.currentTable,jdbcType=VARCHAR}
        </if>
        <if test="params.strategy != null" >
          and strategy = #{params.strategy,jdbcType=VARCHAR}
        </if>
        <if test="params.fromIndex != null" >
          and from_index = #{params.fromIndex,jdbcType=BIGINT}
        </if>
        <if test="params.endIndex != null" >
          and end_index = #{params.endIndex,jdbcType=BIGINT}
        </if>
        <if test="params.createDate != null" >
          and create_date = #{params.createDate,jdbcType=TIMESTAMP}
        </if>
        <if test="params.updateDate != null" >
          and update_date = #{params.updateDate,jdbcType=TIMESTAMP}
        </if>
        <if test="params.createSql != null" >
          and create_sql = #{params.createSql,jdbcType=VARCHAR}
        </if>
      </trim>
    </where>
  </sql>
  <select id="queryForList" resultMap="BaseResultMap" parameterType="com.vteba.tx.jdbc.params.QueryBean" >
    <!--
      WARNING - 根据Criteria所携带条件查询数据，不含Blob字段。
      MyBatis代码工具自动生成，不要修改！
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from {{shards_table}}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="queryList" resultMap="BaseResultMap" parameterType="com.vteba.tx.jdbc.params.QueryBean" >
    <!--
      WARNING - 根据params所携带条件查询数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from {{shards_table}}
    <if test="_parameter != null" >
      <include refid="model_where_clause" />
    </if>
  </select>
  <select id="pagedForList" resultMap="BaseResultMap" parameterType="com.vteba.tx.jdbc.params.QueryBean" >
    <!--
      WARNING - 根据Criteria所携带条件分页查询数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from {{shards_table}}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="pagedList" resultMap="BaseResultMap" parameterType="com.vteba.tx.jdbc.params.QueryBean" >
    <!--
      WARNING - 根据params所携带条件分页查询数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from {{shards_table}}
    <if test="_parameter != null" >
      <include refid="model_where_clause" />
    </if>
  </select>
  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
      WARNING - 根据主键查询数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    select 
    <include refid="Base_Column_List" />
    from {{shards_table}}
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    <!--
      WARNING - 根据主键删除记录。
      MyBatis代码工具自动生成，不要修改！
    -->
    delete from {{shards_table}}
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteBatch" parameterType="com.vteba.tx.jdbc.params.DeleteBean" >
    <!--
      WARNING - 根据Criteria所携带条件删除记录。
      MyBatis代码工具自动生成，不要修改！
    -->
    delete from {{shards_table}}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </delete>
  <delete id="deleteBulks" parameterType="com.vteba.tx.jdbc.params.DeleteBean" >
    <!--
      WARNING - 根据params所携带条件删除数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    delete from {{shards_table}}
    <if test="_parameter != null" >
      <include refid="update_model_where_clause" />
    </if>
  </delete>
  <insert id="save" parameterType="com.vteba.table.model.ShardsTable" >
    <!--
      WARNING - 插入记录，只有非空字段才会插入到数据库。
      MyBatis代码工具自动生成，不要修改！
    -->
    insert into {{shards_table}}
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="schemaName != null" >
        schema_name,
      </if>
      <if test="schemaId != null" >
        schema_id,
      </if>
      <if test="tableName != null" >
        table_name,
      </if>
      <if test="currentTable != null" >
        current_table,
      </if>
      <if test="strategy != null" >
        strategy,
      </if>
      <if test="fromIndex != null" >
        from_index,
      </if>
      <if test="endIndex != null" >
        end_index,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="createSql != null" >
        create_sql,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="schemaName != null" >
        #{schemaName,jdbcType=VARCHAR},
      </if>
      <if test="schemaId != null" >
        #{schemaId,jdbcType=BIGINT},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="currentTable != null" >
        #{currentTable,jdbcType=VARCHAR},
      </if>
      <if test="strategy != null" >
        #{strategy,jdbcType=VARCHAR},
      </if>
      <if test="fromIndex != null" >
        #{fromIndex,jdbcType=BIGINT},
      </if>
      <if test="endIndex != null" >
        #{endIndex,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createSql != null" >
        #{createSql,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="count" parameterType="com.vteba.tx.jdbc.params.QueryBean" resultType="java.lang.Integer" >
    <!--
      WARNING - 根据Criteria所携带条件进行count计数。
      MyBatis代码工具自动生成，不要修改！
    -->
    select count(*) from {{shards_table}}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="countBy" parameterType="com.vteba.tx.jdbc.params.UpdateBean" resultType="java.lang.Integer" >
    <!--
      WARNING - 根据params所携带条件计数。
      MyBatis代码工具自动生成，不要修改！
    -->
    select count(*) from {{shards_table}}
    <if test="_parameter != null" >
      <include refid="model_where_clause" />
    </if>
  </select>
  <update id="updateBatch" parameterType="com.vteba.tx.jdbc.params.UpdateBean" >
    <!--
      WARNING - 根据Criteria所携带条件更新指定字段。
      MyBatis代码工具自动生成，不要修改！
    -->
    update {{shards_table}}
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.schemaName != null" >
        schema_name = #{record.schemaName,jdbcType=VARCHAR},
      </if>
      <if test="record.schemaId != null" >
        schema_id = #{record.schemaId,jdbcType=BIGINT},
      </if>
      <if test="record.tableName != null" >
        table_name = #{record.tableName,jdbcType=VARCHAR},
      </if>
      <if test="record.currentTable != null" >
        current_table = #{record.currentTable,jdbcType=VARCHAR},
      </if>
      <if test="record.strategy != null" >
        strategy = #{record.strategy,jdbcType=VARCHAR},
      </if>
      <if test="record.fromIndex != null" >
        from_index = #{record.fromIndex,jdbcType=BIGINT},
      </if>
      <if test="record.endIndex != null" >
        end_index = #{record.endIndex,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createSql != null" >
        create_sql = #{record.createSql,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateBulks" parameterType="com.vteba.tx.jdbc.params.UpdateBean" >
    <!--
      WARNING - 根据params所携带条件更新指定字段。
      MyBatis代码工具自动生成，不要修改！
    -->
    update {{shards_table}}
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.schemaName != null" >
        schema_name = #{record.schemaName,jdbcType=VARCHAR},
      </if>
      <if test="record.schemaId != null" >
        schema_id = #{record.schemaId,jdbcType=BIGINT},
      </if>
      <if test="record.tableName != null" >
        table_name = #{record.tableName,jdbcType=VARCHAR},
      </if>
      <if test="record.currentTable != null" >
        current_table = #{record.currentTable,jdbcType=VARCHAR},
      </if>
      <if test="record.strategy != null" >
        strategy = #{record.strategy,jdbcType=VARCHAR},
      </if>
      <if test="record.fromIndex != null" >
        from_index = #{record.fromIndex,jdbcType=BIGINT},
      </if>
      <if test="record.endIndex != null" >
        end_index = #{record.endIndex,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createSql != null" >
        create_sql = #{record.createSql,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="update_model_where_clause" />
    </if>
  </update>
  <update id="updateById" parameterType="com.vteba.tx.jdbc.params.UpdateBean" >
    <!--
      WARNING - 根据主键更新指定字段的数据。
      MyBatis代码工具自动生成，不要修改！
    -->
    update {{shards_table}}
    <set >
      <if test="record.schemaName != null" >
        schema_name = #{record.schemaName,jdbcType=VARCHAR},
      </if>
      <if test="record.schemaId != null" >
        schema_id = #{record.schemaId,jdbcType=BIGINT},
      </if>
      <if test="record.tableName != null" >
        table_name = #{record.tableName,jdbcType=VARCHAR},
      </if>
      <if test="record.currentTable != null" >
        current_table = #{record.currentTable,jdbcType=VARCHAR},
      </if>
      <if test="record.strategy != null" >
        strategy = #{record.strategy,jdbcType=VARCHAR},
      </if>
      <if test="record.fromIndex != null" >
        from_index = #{record.fromIndex,jdbcType=BIGINT},
      </if>
      <if test="record.endIndex != null" >
        end_index = #{record.endIndex,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createSql != null" >
        create_sql = #{record.createSql,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{record.id,jdbcType=INTEGER}
  </update>
</mapper>